    @import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Syne:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-germania {
    font-family: 'Germania One', cursive;
}

.font-syne {
    font-family: 'Syne', sans-serif;
}

body {
    background-color: white;
    font-family: 'Syne', sans-serif;
    font-size: 18px;
}

h1 {
    font-family: 'Germania One', cursive;
    font-size: 60px;
    color:#fff;
    font-weight: 100;
}

h3 {
    font-family: 'Germania One', cursive;
    font-size: 48px;
    color: #323131;
    font-weight: 100;
}

#top {
    background-image: url(./data/banner-bener_01.png);
    background-position: center;
    background-size: cover;
    min-height: 900px;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    transition: all 0.3s ease-in-out;
}
.nav-scrolled {
    background-color: #220d5ae1;
}

.nav-wrapper {
    width: 90%;
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-bottom: 0px;
}

.nav-wrapper .logo {
    max-width: 115px;
}

.nav-wrapper .logo img {
    width: 150%;
    margin-top: 20px;
}

.nav-wrapper .navbar {
    display: flex;
    align-items: center;
}

.nav-wrapper .navbar a {
    background-image: linear-gradient(
      to right,
      #54b3d6,
      #54b3d6 50%,
      #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.nav-wrapper .navbar a:before{
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 1px;
    transition: all 0.3s ease-in-out;
}
  
.nav-wrapper .navbar a:hover {
   background-position: 0;
}
  
.nav-wrapper .navbar a:hover::before{
    width: 100%;
}

.cta {
    width: 50%;
    color: #fff;
}

.buttons {
    flex-wrap: wrap;
    margin-top: 30px;
}

.buttons .learn {
    color: #fff;
    position: relative;
    text-decoration: none;
    font-size: 20px;
}

.buttons .learn::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #fff;
    bottom: 0;
    left: 0;
    height: 1px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.buttons .learn:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.buttons .explore {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #500c7a , #9f2e87);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    color: #fff;
    font-family: 'Syne', sans-serif;
    padding: 20px 50px;
    margin-right: 40px;
}

.cta p {
    font-family: 'Syne', sans-serif;
    font-size: 18px;
    margin-top: 20px;
}

.mid {
    background-image: url(./data/about.png);
    background-position: center;
    background-size: cover;
    height: 461px; width: 100%;
    position: relative; 
}

#about {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    padding-top: 100px;
    position: relative;
    z-index: 5;
}

.logo-wrapper {
    width: 90%;
    max-width: 2400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-wrapper .logo-lagi {
    max-width: 120px;
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.logo-wrapper .logo-lagi img {  
    width: 300%;
}

.about-paragraph {
    background-image: url(./data/about-box.png);
    min-height: 633px; max-width: 1024px;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    padding: 80px;
}

.about-paragraph .island {
    position: absolute;
    top: -124px; right: -37px;
}

.about-paragraph p {
    line-height: 27px;
    margin-top: 10px;
    text-align: justify;
    font-size: 18px;
}

.about-paragraph blockquote {
    margin: 30px 0;
    padding-left: 30px;
    border-left: #d9c1a4 solid 6px;
}

#campaigns {
    margin: 100px auto 0;
    max-width: 1280px;
    width: 90%;
}

#campaigns h3 {
    text-align: center;
    position: relative;
    padding-top: 500px;
    margin-top: -60px;
}

.campaign-slide {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-slide {
    flex-shrink: 0;
    transition-property: transform;
}

.slide-card {
    width: 30%;
    border: solid 3px #500c7a;
    background: #fff;
    height: 536px;
    position: relative;
}

.gradient {
    background-image: linear-gradient(to top, rgba(0,0,0,0.9), rgba(0,0,0,0));
    height: 50%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slide-card a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.campaign-logo {
    position: absolute;
    bottom: 30px;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
}

#arkemyr {
    background-image: url(./data/contents/castle.jpg);
    background-position: 35% 50%;
    background-size: cover;
}

#bvale {
    background-image: url(./data/contents/feywild.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#bvale .campaign-logo {
    bottom: 45px;
    padding: 10px 25px;
}

#leviathan {
    background-image: url(./data/contents/pirate.jpg);
    background-position: 60% 50%;
    background-size: cover;
}
#leviathan .campaign-logo {
    max-width: 400px;
}

#dead-alive {
    background-image: url(./data/contents/tavern.jpg);
    background-position: 20% 50%;
    background-size: cover;
}
#dead-alive .campaign-logo {
    max-width: 350px;
    padding-left: 60px;
}

.slide-card .campaign-logo img {
    display: block;
    width: 100%;
}

.swiper-nav {
    margin-top: 25px;
    font-size: 24px;
    color: #500c7a;
    display: flex;
    justify-content: flex-end;
}

.swiper-nav > * {
    border: solid 2px #500c7a;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.swiper-nav a:hover {
    background-color: #500c7a;
    color: #fff;
}

.slide-prev {
    margin-right: -2px;
}

.swiper-nav a {
    display: inline-block;
    text-decoration: none;
    padding: 8px 16px;
    color: #500c7a;
    height: 100%;
}


#subscription {
    text-align: center;
    padding: 55px;
    background: #efefef;
    position: relative;
    margin: 115px 0 50px;
}

#subscription::after {
    content: '';
    background: url(./data/Shelves\ 2.png);
    background-position: 50% 70%;
    opacity: 0.07;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.newsletter {
    max-width: 770px;
    width: 90%;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.newsletter h3 {
    color: #500c7a;
}

.newsletter p {
    margin: 20px 0;
    font-size: 20px;
}

.newsletter form {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.newsletter input {
    width: 85%;
    border: solid 2px #500c7a;
    padding: 15px;
}

.newsletter input::placeholder {
    color: #a996b2;
    font-family: 'Syne', sans-serif;
}

.newsletter button {
    color: #fff;
    border: 3px solid #500c7a;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-image: -webkit-linear-gradient(30deg, to right #500c7a 50%, transparent 50%);
    background-image: linear-gradient(30deg, #500c7a 50%, transparent 50%);
    background-size: 500px;
    margin-left: 20px;
    padding: 20px 50px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    text-transform: uppercase;
    cursor: pointer;
}

.newsletter button:hover {
    background-position: 100%;
    color: #500c7a;
}

#attributions {
    background:  #220d5a;
    color: #fff;
    padding: 40px 0;
}

#attributions a {
    text-decoration:none;
    border-bottom: 1px solid #faca45;
    box-shadow: inset 0 -4px 0 #faca45;
    color: inherit;
    transition: background 0.1s cubic-bezier(.33,.66,.66,1);
}
  
#attributions a:hover {
    background: #faca45;
    color: #500c7a;
}

@media only screen and (max-width: 600px) {
    .cta {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    #about {
        padding-top: 50px;
    }
    .about-paragraph {
        padding: 30px;
    }
    .about-paragraph p {
        font-size: 14px;
        line-height: 18px;
    }
    .about-paragraph h3 {
        margin-bottom: 15px;
    }
    .about-paragraph blockquote {
        margin: 10px 0;
        border-left: none;
        border-top:#d9c1a4 solid 4px;
    }
}

@media only screen and (max-width: 425px) {
    body {
        font-size: 14px;
    }
    h3 {
        font-size: 26px;
    }
    #top {
        padding: 0;
    }
    .nav-wrapper .logo {
        max-width: 60px;
        margin-top: 10px;
    }
    .nav-wrapper .navbar a {
        font-size: 14px;
        padding: 10px;
    }
    .floating-island {
        display: none;
    }
    #about {
        padding-top: 50px;
    }
    .about-paragraph {
        padding: 30px;
    }
    .about-paragraph p {
        font-size: 14px;
        line-height: 18px;
    }
    .about-paragraph h3 {
        margin-bottom: 15px;
    }
    .about-paragraph blockquote {
        margin: 10px 0;
        border-left: none;
        border-top:#d9c1a4 solid 4px;
    }
    #campaigns {
        margin-top: 50px;
    }
    .campaign-slide {
        margin-top: 20px;
    }
    .newsletter p {
        font-size: 14px;
        margin: 15px 0;
    }
    .newsletter form {
        display: block;
    }
    .newsletter form button {
        margin: 10px 0;
        padding: 10px 30px;
    }
    #attributions p {
        font-size: 14px;
        text-align: center;
    }
}
    